/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: none;
    border-radius: 2px;
    text-align: center;
    outline: none;
    font-family: BlinkMacSystemFont, SFProText-Regular, Helvetica Neue, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    -webkit-transition: border 300ms;
    transition: border 300ms;
    padding: 8px 16px;
    min-width: 96px;
    cursor: pointer;
    background-color: #0033cc;
    border: 1px solid #0033cc;
    color: #ffffff;
}
.button + .button {
    margin-left: 16px;
}
